.env
auth.js
test.js
telegram.json
log.js
app.js
test.txt
tt.js
auth-express.js
index.html
test.txt
package-lock.json
app.js
node_modules
assets
backup_new_version.json
backup_old_version.json
backup.json
backup.js
simple_server.js
b.js
backup_2025.json